// основной scss файл в который импортируются остальные файлы стилей
@import "./reset";
@import "./variables/globals";
@import "./themes/darkTheme";
@import "./themes/lightTheme";

body {
	font: var(--font-m);
	color: var(--primary-color);
	background-color: var(--bg-color);
}

.app {
	width: 100vw;
	height: 100vh;
}

.content-page {
	display: flex;
}

.page-wrapper {
	padding: 20px;
	flex-grow: 1;
}
