.Sidebar {
	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));
	background-color: var(--inverted-bg-color);
	transition: width 0.3s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	flex-shrink: 0;
}

.switchers {
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	transition: 0.2s ease;
}

.sidebarButton {
	position: absolute;
	right: 0;
	bottom: 20%;
	transform: translateX(100%);
}

.sidebarItems {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 20px;
}

.icon {
	fill: var(--inverted-primary-color);
}

.appLink {
	display: flex;
	gap: 10px;
	align-items: center;

	span {
		transition: 0.1s ease;
	}
}

.collapsed {
	width: var(--sidebar-width-collapsed);

	.switchers {
		flex-direction: column;
	}

	.appLink {
		gap: 0;
		justify-content: center;

		span {
			opacity: 0;
			width: 0;
			white-space: nowrap;
		}
	}
}
