body.turquoise {
	--bg-color: #26776d;
	--inverted-bg-color: #f4fbfa;
	--primary-color: #f4fbfa;
	--secondary-color: #d8d8d8;
	--inverted-primary-color: #1c592e;
	--inverted-secondary-color: #133b1f;
}
