.ProfileCard {
	padding: 20px;
	border: 2px solid var(--inverted-bg-color);
}

.header {
	display: flex;
	gap: 20px;
}

.data {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
