.ProfileCard {
	padding: 20px;
	border: 2px solid var(--inverted-bg-color);
}

.data {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: relative;
}

.loader,
.error {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
}
